In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import geopandas as gpd
import requests

### Import data

In [7]:
# df_2018 = pd.read_csv('data/data-2018.txt', sep='|')
# df_2019 = pd.read_csv('data/data-2019.txt', sep='|')
# df_2020 = pd.read_csv('data/data-2020.txt', sep='|')
# df_2021 = pd.read_csv('data/data-2021.txt', sep='|')
df_2022 = pd.read_csv('data/data-2022.txt', sep='|')

/var/folders/fw/2h3gl8xx695ctwssxd73bz5c0000gn/T/ipykernel_6728/2703567034.py:5: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv('data/data-2022.txt', sep='|')

In [8]:
# df = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022])
df = df_2022

In [33]:
df.head(10)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2022,Vente,...,NaN,0,1.0,Maison,NaN,108.0,5.0,S,NaN,649.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,360.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,50.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,4.0,Local industriel. commercial ou assimil√©,NaN,424.0,0.0,S,NaN,628.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,2.0,Appartement,NaN,126.0,4.0,S,NaN,628.0

### Data exploration

In [34]:
df.columns

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [35]:
# Print the type of each column
df.dtypes

Identifiant de document       float64
Reference document            float64
1 Articles CGI                float64
2 Articles CGI                float64
3 Articles CGI                float64
4 Articles CGI                float64
5 Articles CGI                float64
No disposition                  int64
Date mutation                  object
Nature mutation                object
Valeur fonciere                object
No voie                       float64
B/T/Q                          object
Type de voie                   object
Code voie                      object
Voie                           object
Code postal                   float64
Commune                        object
Code departement               object
Code commune                    int64
Prefixe de section            float64
Section                        object
No plan                         int64
No Volume                      object
1er lot                        object
Surface Carrez du 1er lot      object
2eme lot                       object
Surface Carrez du 2eme lot     object
3eme lot                       object
Surface Carrez du 3eme lot     object
4eme lot                      float64
Surface Carrez du 4eme lot     object
5eme lot                      float64
Surface Carrez du 5eme lot     object
Nombre de lots                  int64
Code type local               float64
Type local                     object
Identifiant local             float64
Surface reelle bati           float64
Nombre pieces principales     float64
Nature culture                 object
Nature culture speciale        object
Surface terrain               float64
dtype: object

In [36]:
df.shape

(3803885, 43)

In [37]:
# Delete columns that are anonymous

df.drop(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI', 'Identifiant local'], axis=1, inplace=True)

In [38]:
df.head(10)

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,03/01/2022,Vente,"55000,00",13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,...,NaN,NaN,1,2.0,Appartement,24.0,1.0,NaN,NaN,NaN
1,1,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,84.0
2,1,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,88.0
3,1,03/01/2022,Vente,"143000,00",98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,...,NaN,NaN,1,2.0,Appartement,140.0,3.0,NaN,NaN,NaN
4,1,04/01/2022,Vente,"300,00",NaN,NaN,NaN,B031,AUX PIERRES,1480.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,T,NaN,510.0
5,1,06/01/2022,Vente,"255000,00",282.0,NaN,RTE,0130,DE POISATON,1560.0,...,NaN,NaN,0,1.0,Maison,108.0,5.0,S,NaN,649.0
6,1,06/01/2022,Vente,"255000,00",NaN,NaN,NaN,B047,LA FREGONIERE,1560.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,360.0
7,1,03/01/2022,Vente,"525000,00",NaN,NaN,PL,0300,DE LA CROIX BLANCHE,1390.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,50.0
8,1,03/01/2022,Vente,"525000,00",217.0,NaN,PL,0300,DE LA CROIX BLANCHE,1390.0,...,NaN,NaN,0,4.0,Local industriel. commercial ou assimil√©,424.0,0.0,S,NaN,628.0
9,1,03/01/2022,Vente,"525000,00",217.0,NaN,PL,0300,DE LA CROIX BLANCHE,1390.0,...,NaN,NaN,0,2.0,Appartement,126.0,4.0,S,NaN,628.0

### Data preparation

In [11]:
# Change the type of the columns

df['Date mutation'] = pd.to_datetime(df['Date mutation'], format='%d/%m/%Y')
df['Code postal'] = df['Code postal'].astype(str)
df['Code departement'] = df['Code departement'].astype(str)
df['Code commune'] = df['Code commune'].astype(str)
df['Valeur fonciere'] = df['Valeur fonciere'].replace(',', '.', regex=True).astype(float)

df.head(10)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-03,Vente,...,NaN,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-03,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-03,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-03,Vente,...,NaN,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-04,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-06,Vente,...,NaN,0,1.0,Maison,NaN,108.0,5.0,S,NaN,649.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-06,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,360.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-03,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,50.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-03,Vente,...,NaN,0,4.0,Local industriel. commercial ou assimil√©,NaN,424.0,0.0,S,NaN,628.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2022-01-03,Vente,...,NaN,0,2.0,Appartement,NaN,126.0,4.0,S,NaN,628.0

In [40]:
df.isnull().sum()

No disposition                      0
Date mutation                       0
Nature mutation                     0
Valeur fonciere                 24721
No voie                       1321227
B/T/Q                         3627918
Type de voie                  1406840
Code voie                       39043
Voie                            39153
Code postal                         0
Commune                             0
Code departement                    0
Code commune                        0
Prefixe de section            3645046
Section                           155
No plan                             0
No Volume                     3794976
1er lot                       2534572
Surface Carrez du 1er lot     3436147
2eme lot                      3405819
Surface Carrez du 2eme lot    3679945
3eme lot                      3732930
Surface Carrez du 3eme lot    3790026
4eme lot                      3781161
Surface Carrez du 4eme lot    3800533
5eme lot                      3794152
Surface Carrez du 5eme lot    3802648
Nombre de lots                      0
Code type local               1518453
Type local                    1518453
Surface reelle bati           1520542
Nombre pieces principales     1520542
Nature culture                1286889
Nature culture speciale       3649229
Surface terrain               1286889
dtype: int64

In [41]:
df.duplicated().sum()

269261

In [42]:
# Delete duplicate rows

df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [12]:
# Code INSEE

df['Code INSEE'] = df.apply(lambda x: x['Code departement'].rjust(2, '0') + x['Code commune'].rjust(3, '0'), axis=1)

In [15]:
# Use geopandas to get the coordinates of the communes

shapefile = 'communes/communes-20220101.shp'
gdf = gpd.read_file(shapefile)[['insee', 'geometry']]

gdf = gdf.merge(df, left_on='insee', right_on='Code INSEE', how='inner')

gdf.head(10)

,insee,geometry,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Code INSEE
0,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,L,FRICH,146.0,2B222
1,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,L,FRICH,687.0,2B222
2,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,L,FRICH,501.0,2B222
3,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,VE,CHAT,5826.0,2B222
4,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,VE,CHAT,842.0,2B222
5,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,VE,CHAT,164.0,2B222
6,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,VE,CHAT,1172.0,2B222
7,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,VE,CHAT,1508.0,2B222
8,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,T,NaN,153.0,2B222
9,2B222,"POLYGON ((9.32017 42.38507, 9.32028 42.38510, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,NaN,NaN,NaN,NaN,NaN,L,FRICH,190.0,2B222

KeyError: "['Population', 'Surface', 'geometry'] not in index"

### Data Visualization

In [ ]:
# Plot the price by department

df['1er lot']

0          7.0
1          NaN
2          NaN
3          1.0
4          NaN
          ...
3803880      3
3803881     49
3803882     49
3803883    244
3803884    516
Name: 1er lot, Length: 3534625, dtype: object